<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Ne pas rediriger les fichiers PHP
    RewriteRule ^traitement\.php$ - [L]
    RewriteRule ^config\.php$ - [L]

    # Ne pas rediriger les fichiers/dossiers existants
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Tout renvoyer vers index.html pour Vue Router
    RewriteRule . /index.html [L]
</IfModule>